/* ==========================================
    PRODUCTOS HORIZONTALES
========================================== */

.horizontal-scroll {
  display: flex;
  gap: 18px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: 10px 15px 20px;
  scrollbar-width: none;
  margin-top: 2rem;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

/* Card */


.slider-card-product {
  flex: 0 0 clamp(220px, 26vw, 290px);
  scroll-snap-align: start;
}

/* Desktop grande */

@media (min-width: 1400px) {
  .slider-card-product {
    flex: 0 0 200px;
  }
}

/* Notebook */

@media (max-width: 1200px) {
  .slider-card-product {
    flex: 0 0 180px;
  }
}

/* Celular */

@media (max-width: 768px) {
  .horizontal-scroll {
    gap: 14px;
    padding-inline: 12px;
  }

  .slider-card-product {
    flex: 0 0 180px;
  }
}

/* Celulares chicos */

@media (max-width: 480px) {
  .slider-card-product {
    flex: 0 0 80%;
  }
}