/* ============================================
  🛍 ESTILOS PARA LAS CARDS DE PRODUCTOS
============================================ */

/* src/components/items/style/Item.css */

.item-card {
  color: var(--text);
  position: relative;
  min-height: 14rem;
  padding: 0rem;
  border-radius: 14px;
  background: var(--card);
  border: 1px solid var(--border);
  box-shadow: 0 2px 8px rgba(43, 43, 43, 0.08);
  cursor: pointer;
  transition: transform .2s ease, box-shadow .2s ease;
}


.item-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(255, 127, 17, 0.15);
}


/* Badge */
.item-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: var(--accent);
  color: var(--card);
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 12px;
  font-weight: 600;
}


/* Icono favorito */
.item-fav {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  color: var(--accent);
}


/* Imagen centrada */
.item-img-wrapper {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: end;
}


.item-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* Info */
.item-info {
      display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
  margin-top: 5px;
  text-align: left;
  margin-left: 0.2rem;
}


.item-title {
  font-size: 15px;
  font-weight: 600;
  color: var(--text);
}


.item-precio {
  font-size: 15px;
  color: var(--accent);
  font-weight: 700;
}


/* Contenedor general de items */
.container {
  margin-top: 3rem;
  background: var(--background);
}


.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  justify-items: center;
  padding-bottom: 20px;
}


/* Wrapper individual de cada item */
.item-wrapper {
  width: 100%;
}


.item-img {
  max-width: 90%;
  border-radius: 10px;
  height: auto;
  object-fit: contain;
}


/* Banner categoría */
.category-banner {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 40px;
  display: block;
}



/* ============================================
  📱 MOBILE
============================================ */

@media (max-width: 575.98px) {

  .item-card {
    padding: 0.5rem;
    min-height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .item-img {
    height: 100px !important;
    border-radius: 15px;
  }


  .item-card:hover {
    transform: translateY(0px);
    box-shadow: 0 4px 12px rgba(255,127,17,0.15);
  }


  .item-img-wrapper {
    height: auto !important;
    width: auto;
    display: flex;
  }


  .items-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-items: center;
  }


  .category-banner {
    height: 80px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
  }

}