/* ============================================
  🛍 ESTILOS PARA LAS CARDS DE PRODUCTOS
============================================ */
/* Banner */

.category-banner {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
  margin: 40px 0px 40px;
  display: block;
}



.item-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
  color: var(--text);
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(43, 43, 43, 0.08);
  cursor: pointer;
  transition: transform .2s ease, box-shadow .2s ease;
}

.item-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(255,127,17,.15);
}

/* Badge */

.item-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: var(--accent);
  color: #fffdfd;
  padding: 4px 10px;
  border-radius: 50px;
  font-size: 11px;
  font-weight: 600;
  z-index: 2;
}

/* Favorito */

.item-fav {
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 2;
  cursor: pointer;
}

/* Imagen */

.item-img-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform .3s ease;
}

.item-card:hover .item-img {
  transform: scale(1.05);
}

/* Información */

.item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.item-title {
  font-size: .95rem;
  font-weight: 700;
  color: var(--text);
  line-height: 1.3;
  margin-bottom: 6px;
  overflow: hidden;
}

.item-descripcion {
  font-size: .78rem;
  color: var(--text-muted);
  line-height: 1.35;
  /* Siempre ocupa el mismo espacio */
  min-height: 42px;
  overflow: hidden;
  margin-top: 15px;
}

/* Parte inferior */

.item-bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-precio {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--accent);
  transition: transform .2s ease, color .2s ease;
}
.item-precio:active {
  transform: scale(1.08);
}



.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px,1fr));
  gap: 16px;
}

.item-wrapper {
  height: 100%;
}


/* ============================================
  📱 MOBILE
============================================ */

@media (max-width:575.98px){

  .items-container{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin-bottom: 2rem;
  }

  .category-banner{
    height:80px;
    margin:10px 0;
    border-radius:15px;
  }

  .item-card{
    flex-direction:row;
    height: 100%;
    width: auto;
  }


  .item-img-wrapper{
    width:110px;
    min-width:110px;
    aspect-ratio:1;
  }

  .item-info{
    
    flex:1;
  }

  .item-title{
    font-size: 0.9rem;
    margin-bottom:6px;
  }

  .item-descripcion{
    min-height:42px;
    font-size:.7rem;
  }


  .item-precio{
    font-size:1rem;
  }

  .item-card:hover{
    transform:none;
  }
}